:root {
  --navbar-height: 3rem;

  --page-width: 59rem;
}

.App {
  min-height: 100vh;

  color: var(--font-color-1);
}

body {
  /* Cool gradient */
  background-image: var(--gradient-1);

}

.page {
  background-color: var(--color-1);

  margin: 0px auto;
  padding-top: calc( var(--navbar-height) + 1rem ) ;

  max-width: var(--page-width);
  min-height: 100vh;

  text-align: center;

  box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.71);
}