:root {
  --navbar-height: 3rem;

  --page-width: 55rem;
}

.App {
  min-height: 100vh;

  color: var(--font-color);
}

body {
  background-color: var(--color-0);
}

.page {
  background-color: var(--color-1);

  margin: 0px auto;
  padding: var(--navbar-height);

  max-width: var(--page-width);
  min-height: 100vh;

  text-align: center;
}