:root {
  --navbar-height: 3rem;

  --page-width: 55rem;
}

.App {
  min-height: 100vh;

  color: var(--font-color);
}

body {

  /* Cool gradient */
  background:
    linear-gradient(45deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%);

}

.page {
  background-color: var(--color-1);

  margin: 0px auto;
  padding: var(--navbar-height);

  max-width: var(--page-width);
  min-height: 100vh;

  text-align: center;
}