.about-me-image {
    width: 10em;

    display: inline;

    z-index: 5;

    transition: transform 0.1s;
}

.about-me-image:hover {
    transform: scale(1.12);
}

.about-me-text {
    width: 25em;
}

.about-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    width: 100%;
}


.about-me-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    width: 100%;
}

.about-me-container > * {
    margin: 0.5em;
}