.footer {
    width: 100%;
    height: var(--footer-height);

    background-color: var(--color-4);

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer > * {
    text-align: center;

    display: flex;
    justify-content: space-around;
    align-items: center;
}