.contact-info-container {
    display: flex;

    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    column-gap: 2em;
    row-gap: 2em;
}

.contact-info {
    background: var(--color-1);
    box-shadow: 8px 8px 24px 0 rgba(0, 0, 0, 0.39);

    border-radius: 0.3em;

    height: 5em;
    width: 10em;

    padding: 2em 2em 2.5em 2em;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    transform:
        rotate3d(-1, 1, 0, 15deg);

    transition: transform 0.2s;
}

.contact-info:hover {
    transform:
        scale(1.1);

    cursor: pointer;
}

.contact-image {
    background: var(--gradient-1);

    padding: 0.25em;

    width: 4em;

    -webkit-background-clip: content;
    -webkit-text-fill-color: transparent;

    border-radius: 0.25em;
}

